<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.hachitecnologia.receivers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.hachitecnologia.receivers.activity.DisparaBroadcastActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceiver.BroadcastReceiverA" >
            <intent-filter android:priority="20" >
                <action android:name="MEU_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.BroadcastReceiverB" >
            <intent-filter android:priority="30" >
                <action android:name="MEU_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.BroadcastReceiverC" >
            <intent-filter android:priority="10" >
                <action android:name="MEU_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>